.movie-container {
  display: flex;
  flex-direction: column;
}

.movie-list {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.movie-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1.5px solid lightgray;
  padding: 10px;
  margin: 10px;
  // width: 350px;
  border-radius: 4px;
}
